@{
    ViewBag.Title = "Ink";
}

<div id="listOfPages">
    <br />
    <br />
    <span class="pageLink">@Html.ActionLink("Calculator", "Calculator", "Home")</span>
    <h5 class="pageLinkDescription">Addition examples using JavaScript, Razor and Knockout.</h5>
    <br />
    <br />
    <span class="pageLink">@Html.ActionLink("Yoda Instructor", "YodaInstructor", "Home")</span>
    <h5 class="pageLinkDescription">A Yoda sentence converter, using Knockout, with a ViewModel function that calls an external API.</h5>
</div>