@{
    ViewBag.Title = "Ink";
}

<div id="pages">
    <br/>
    <br/>
    @Html.ActionLink("Calculator", "Calculator", "Home")
    <h5>Addition examples in both JavaScript and Razor.</h5>
    <br/>
    <br/>
    @Html.ActionLink("Next Idea", "Calculator", "Home")
    <h5>Currently points to Calculator.</h5>
</div>